@layer reset {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

:root {
  --font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-color: #fff;
  --color: #333;
  --border-color: #ddd;
  --link-color: #1273d1;
  --line-height: 1.5;
  --space-default: calc(var(--line-height) * 1rem);
  --space-smaller: calc(1 * 1rem);
}

html {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--color);
}

@media (min-width: 50rem) {
    html {
        font-size: 112.5%;
    }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --color: #eee;
    --border-color: #444;
    --link-color: #46a4fe;
  }
}

body,
.container {
  margin: auto;
  max-width: 50rem;
  padding: 1rem;
}

a {
  color: var(--link-color);
}

a:link,
a:active {
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

h1 {
  line-height: 1.125;
}

h1,
h2,
ul,
p {
  margin-block-end: var(--space-smaller);
}

body > header,
body > footer {
    text-align: center;
}

body>header,
body>main {
    border-block-end: 1px solid var(--border-color);
    padding-block-start: 2rem;
    padding-block-end: 2rem;
}

body>footer {
    padding-block-start: 1rem;
}

header>pre {
  font-size: 2rem;
  line-height: 1;
  overflow-x: auto;
  margin-block-end: 1.5rem;
  text-align: left;
  max-width: max-content;
  margin-inline: auto;
}

.version {
  margin-block-end: 1rem;
}

footer > nav > ul {
  list-style: none;
}

footer > nav > ul > li {
  display: inline-block;
  margin-inline-end: 1rem;
}
