html,
body,
pre,
h1,
p {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-color: #fff;
  --color: #333;
  --border-color: #ddd;
  --pre-color: lightblue;
  /* --pre-color: var(--token-constant); */
  --pre-bg: rgba(0, 0, 0, .75);

  --token-keyword: orange;
  --token-constant: deepskyblue;
  --token-function: deeppink;
  --token-string: lightcoral;
  --token-number: violet;
  --token-param: gold;
  --token-comment: slategray;
}

html {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 1fr;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--color);
}

@media (min-width: 50rem) {
    body {
        font-size: 125%;
    }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --color: #eee;
    --border-color: #444;
    --pre-bg: rgba(0, 0, 0, .1)
  }
}

body {
  margin: auto;
  max-width: 50rem;
  padding: 1rem;
}

a {
  color: dodgerblue;
}

a:link,
a:active {
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.15);
}

h1 {
  line-height: 1.125;
  margin-bottom: .5rem;
}

p {
  margin-bottom: 1rem;
}

pre, code {
    font-size: 1.125rem;
    font-family: Cascadia Code, monospace;
    color: var(--pre-color, --color);
    border-radius: .25rem;
}

code {
    padding: .5rem;
}

pre {
  word-break: break-all;
  padding: 2rem;
  white-space: pre-wrap;
  background-color: var(--pre-bg);
  margin-block-end: 1rem;
}

pre[class*="language-"].codeblock,
pre[class*="language-"].codeblock code {
  color: var(--token-constant);
}

.token.keyword,
.token.operator{
    color: var(--token-keyword);
}

.token.constant {
    color: var(--token-constant);
}

.token.function {
    color: var(--token-function);
}

.token.string,
.token.string-property {
    color: var(--token-string);
}

.token.number {
    color: var(--token-number);
}

.token.parameter {
    color: var(--token-param);
}

.token.comment,
.token.punctuation {
  color: var(--token-comment);
}

header > pre {
  font-size: 2rem;
  line-height: 1;
  overflow-x: auto;
  margin-block-end: 1.5rem;
  text-align: left;
  max-width: max-content;
  margin-inline: auto;
}

.version {
    margin-block-end: 1rem;
}

header > h1 {
  margin-bottom: 1rem;
}

body > header,
body > main {
  border-block-end: 1px solid var(--border-color);
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}

body > header,
body > footer {
  text-align: center;
}

footer > nav > ul {
  list-style: none;
}

footer > nav > ul > li {
  display: inline-block;
  margin-right: 1rem;
}
