{{ layout "./document.vto" }}

<header>
  {{ if nav }}
  <nav>
    {{ for link of nav }}
    <a href="{{ link.href }}">{{ link.text }}</a>
    {{ /for }}
  </nav>
  {{ /if }}
  {{ if title }}
  <h1>{{ title }}</h1>
  {{ /if }}
  {{ if description }}
    <p>{{ description }}</p>
  {{ /if }}
</header>

<main>
{{ content }}
</main>

{{ /layout}}
