@layer reset, base, colors, theme, utils, scratch;

@layer base {
  :root {
    --root: 1rem;
    --line-height: 1.5;
    --border-radius: calc(var(--root) / 4);
    --button-padding: 0.5lh 0.75rem;
  }
}

@layer colors {
  :root {
    /* color palette */
    --color-white: oklch(90% 0 0);
    --color-gray: oklch(25% 0 0);
    --color-black: oklch(0 0 0);
    --color-blue: oklch(from dodgerblue calc(l - 0.2) calc(c + 0.1) h);
    --color-green: oklch(from limegreen l c h);
    --color-yellow: oklch(from yellow l c h);
    --color-orange: oklch(from orange l c h);
    /* semantic colors */
    --color-overlay: color-mix(var(--color-bg) 90%, var(--color-text));
    --color-primary: var(--color-blue);
    --color-links: oklch(from var(--color-primary) 80% 0.280 h);
    --color-links: oklch(
      from
      var(--color-primary)
      var(--color-links-lightness)
      0.280
      h
    );
  }
}

@layer theme {
  :root {
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
      --color-text: var(--color-white);
      --color-bg: var(--color-gray);
      --color-links-lightness: 80%;
      --count-color-alpha: 60%;
    }

    @media (prefers-color-scheme: light) {
      color-scheme: light;
      --color-bg: var(--color-white);
      --color-text: var(--color-gray);
      --color-links-lightness: 50%;
      --count-color-alpha: 80%;
    }

    &:where([data-theme="light"]) {
      color-scheme: light;
      --color-bg: var(--color-white);
      --color-text: var(--color-gray);
      --color-links-lightness: 50%;
      --count-color-alpha: 80%;
    }

    &:where([data-theme="dark"]) {
      color-scheme: dark;
      --color-text: var(--color-white);
      --color-bg: var(--color-gray);
      --color-links-lightness: 80%;
      --count-color-alpha: 60%;
    }

    &:where([data-theme="auto"]) {
      color-scheme: light dark;
    }
  }
}

@layer reset {
  html,
  body,
  fieldset,
  legend,
  button,
  input,
  textarea,
  select,
  menu,
  ul,
  ol,
  table,
  tr,
  th,
  td,
  figure,
  figcaption,
  details,
  summary {
    margin: 0;
    padding: 0;
  }
}

html {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(var(--root) * 1.125);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-bg);
}

@layer base {
  fieldset {
    border: none;
  }

  button,
  input,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
    font-size: 1rem;
    line-height: 1.125;
    border: none;
    color: var(--color-text);
    background-color: transparent;
  }

  button {
    --button-shadow: 0 2px 4px oklch(0 0 0 / 10%);
    font-weight: 500;
    padding: var(--button-padding);
    background-color: var(--color-overlay);
    border-radius: var(--border-radius);
    border: 1px solid oklch(from var(--color-text) l c h / 10%);
    box-shadow: var(--button-shadow);

    &:is(:disabled) {
      opacity: 50%;
    }

    &:active:not(:disabled) {
      background-color: color-mix(
        in oklab,
        var(--color-overlay),
        oklch(0 0 0 / 25%) 20%
      );
    }
  }

  body {
    margin: var(--root);
  }

  toggle-details {
    display: flex;
    gap: calc(var(--root) / 2);
  }

  details {
    --box-shadow-alpha: 25%;
    --box-shadow-color: oklch(
      from
      var(--color-black)
      l
      c
      h
      /
      var(--box-shadow-alpha)
    );

    box-shadow: 0 2px 4px var(--box-shadow-color);

    @media (prefers-color-scheme: light) {
      --box-shadow-alpha: 16%;
    }

    &[open] {
      --color-details: oklch(
        from
        light-dark(oklch(100% 0 0), oklch(38% 0 0))
        l
        c
        h
        /
        90%
      );
      background-color: var(--color-details);
      padding-inline: calc(var(--root) * 1.5);
      padding-block-end: 1lh;

      & > summary {
        margin-inline: -1.5rem;
      }
    }

    & > summary {
      list-style: none;
      display: flex;
      align-items: baseline;

      & > * {
        margin-inline-end: var(--root);
      }

      &::after {
        margin-inline-start: auto;
      }
    }

    &:not([open]) > summary::after {
      content: "▼";
    }

    &:is([open]) > summary::after {
      content: "▲";
    }
  }

  a {
    &:where(:link, :visited) {
      color: var(--color-links);
      text-decoration-line: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 2px;
      text-decoration-color: color-mix(currentColor, transparent 50%);
      font-weight: bold;
      padding-block: calc(1lh / 4);
      padding-inline: calc(var(--root) / 2);
    }

    &:where(:hover, :focus) {
      background-color: oklch(from var(--color-yellow) 90% 60% h / 20%);
      text-decoration-line: underline;
      text-decoration-color: currentColor;
      text-decoration-skip-ink: none;
    }
  }
}

@layer utils {
  .flow > * + * {
    margin-block-start: var(--flow, 1lh);
  }

  .bgcolor {
    background-color: var(--color-overlay);
  }

  .pi {
    padding-inline: var(--pi, var(--root));
  }

  .br,
  .rounded {
    border-radius: var(--border-radius);
  }

  .primary {
    color: var(--blue-200);
    background-color: var(--color-primary);
    border-color: oklch(from var(--color-primary) calc(l - 0.1) c h);
  }

  .tac {
    text-align: center;
  }

  .has-divider::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--color-overlay);
    margin-block-start: calc(1lh / 2);
  }

  .count,
  .format {
    font-size: 0.8rem;
    color: oklch(from var(--color-text) l c h / var(--count-color-alpha, 50%));
  }

  .format {
    --pi: calc(var(--root) / 4);
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid oklch(from var(--color-text) l c h / 25%);
  }

  .boc {
    border: 1px solid oklch(from var(--color-text) l c h / 10%);
  }
}

@layer scratch {
  footer {
    container-name: small medium large;
    container-type: inline-size;
  }
  legend {
    text-align: center;
  }
  toggle-theme {
    margin-inline-start: auto;
  }
  @container small (inline-size >= 360px) {
    toggle-theme fieldset {
      display: flex;
      gap: 0.5rem;
    }
    footer :where(.meta) {
      display: flex;
      flex-wrap: nowrap;
      place-items: center;
    }
  }
  @container medium (inline-size <= 690px) {}
}
