:root {
  --root: 1rem;
  --border-radius: calc(var(--root) / 4);
  --color-white: oklch(90% 0 0);
  --color-gray: oklch(25% 0 0);
  --color-black: oklch(0 0 0);
  --color-blue: oklch(from dodgerblue calc(l - 0.2) calc(c + 0.1) h);
  --color-text: var(--color-white);
  --color-bg: var(--color-gray);
  --color-overlay: color-mix(in oklab, var(--color-bg) 90%, var(--color-text));
  --color-primary: var(--color-blue);
  --button-padding: 0.5rem 0.75rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-white);
    --color-text: var(--color-gray);
  }
}

html {
  color-scheme: light dark;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-size: 1rem;
  line-height: 1.125;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--color-text);
  background-color: transparent;
}

button {
  padding: var(--button-padding);
  background-color: var(--color-overlay);
  border-radius: var(--border-radius);
}

body {
  margin: var(--root);
}

menu {
  padding: 0;
  list-style: none;
  display: flex;
  gap: calc(var(--root) / 2);
}

details {
  & > summary {
    list-style: none;
    display: flex;
    align-items: baseline;

    & > * {
      margin-inline-end: var(--root);
    }

    &::after {
      margin-inline-start: auto;
    }
  }

  &:not([open]) > summary::after {
    content: "▼";
  }

  &:is([open]) > summary::after {
    content: "▲";
  }
}

.flow > * + * {
  margin-block-start: var(--root);
}

.bgcolor {
  background-color: var(--color-overlay);
}

.pi {
  padding-inline: var(--root);
}

.br,
.rounded {
  border-radius: var(--border-radius);
}
