:root {
  --root: 1rem;
  --bgcolor: oklch(0 0 0 / 25%);
}

html {
  color-scheme: light dark;
  line-height: 1.5;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
}

body {
  margin: var(--root);
}

details {}

details > summary {
  list-style: none;
  display: flex;
  align-items: baseline;

  &::marker {
    content: ">";
  }

  & > *:not(:last-child) {
    margin-inline-end: var(--root);
  }
}

.flow > * + * {
  margin-block-start: var(--root);
}

.bgcolor {
  background-color: var(--bgcolor);
}

.pi {
  padding-inline: var(--root);
}
