<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
<pre title="stewpot" aria-hidden="true">
┌─┐┌┬┐┌─┐┬ ┬┌─┐┌─┐┌┬┐
└─┐ │ ├┤ │││├─┘│ │ │ 
└─┘ ┴ └─┘└┴┘┴  └─┘ ┴
</pre>
<div class="version">
<code>v{{ version }}</code>
</div>
<h1>🎉 Welcome to the delicious world of {{ title }}!</h1>
</header>
<main>
<h2>First Steps</h2>
<pre>
<span class="keyword">import</span> stewpot <span class="keyword">from</span> <span class="string">'stewpot/app'</span>;

<span class="comment">// 1. create app instance</span>
<span class="keyword">const</span> <span class="constant">app</span> = <span class="function">stewpot</span>();

<span class="comment">// 2. register request handler</span>
<span class="constant">app</span>.<span class="function">use</span>((<span class="param">_</span>, <span class="param">response</span>) <span class="keyword">=></span> {
  <span class="param">response</span>.<span class="function">writeHead</span>(<span class="number">200</span>, { <span class="string">'Content-Type'</span>: <span class="string">'text/plain'</span> });
  <span class="param">reponse</span>.<span class="function">end</span>(<span class="string">'Hello World!'</span>);
});

<span class="comment">// 3. run app!</span>
<span class="constant">app</span>.<span class="function">run</span>();
</pre>
<h2>Next Steps</h2>
<pre>
<span class="keyword">import</span> stewpot <span class="keyword">from</span> <span class="string">'stewpot/app'</span>;
<span class="keyword">import</span> _router <span class="keyword">from</span> <span class="string">'stewpot/router'</span>;

<span class="comment">// 1. create app and router instances</span>
<span class="keyword">const</span> <span class="constant">app</span> = <span class="function">stewpot</span>();
<span class="keyword">const</span> <span class="constant">router</span> = <span class="function">_router</span>();

<span class="comment">// 2. define root (/) path</span>
<span class="constant">router</span>.<span class="function">get</span>(<span class="string">'/'</span>, (<span class="param">_</span>, <span class="param">response</span>) <span class="keyword">=></span> {
  <span class="param">response</span>.<span class="function">writeHead</span>(<span class="number">200</span>, { <span class="string">'Content-Type'</span>: <span class="string">'text/html'</span> });
  <span class="param">response</span>.<span class="function">end</span>(<span class="string">'&lt;h1&gt;Hello World!&lt;/h1&gt;'</span>);
});

<span class="comment">// 3. register request handler</span>
<span class="constant">app</span>.<span class="function">use</span>(<span class="constant">router</span>.<span class="function">handler</span>);

<span class="comment">// 4. run app!</span>
<span class="constant">app</span>.<span class="function">run</span>();
</pre>
<h2>Further Steps</h2>
<p>Take a look at the <a href="https://github.com/carlrafting/stewpot/tree/main/examples">examples on GitHub for getting started</a>. Make sure to <a href="https://github.com/carlrafting/stewpot/blob/main/src/server/default_handler.js">check out the default request handler</a>, which is responsible for rendering this very page.</p>
</main>
<footer>
  <nav>
    <ul>
      <li><a href="https://github.com/carlrafting/stewpot">Github</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="https://github.com/carlrafting/stewpot/tree/main/examples">Examples</a></li>
      <li><a href="https://opensource.org/licenses/MIT">License</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>
