{{ layout "layouts/page.vto" }}

<a href="./create/">New Route</a> <span>Create new route</span>

{{ if data?.routes }}
<ul>
{{ for route of data.routes }}
  <li>
    name: {{ route.name }}<br>
    path: {{ route.path }}<br>
    type: {{ route.type }}<br>
    ref: {{ route.ref }}<br>
  </li>
{{ /for }}
</ul>
{{ /if }}

{{ /layout }}
