@layer basic {
  html {
    color-scheme: light dark;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 1.125rem; /* 18px */
    line-height: 1.5;
  }
  
  body {
    max-width: 40rem;
    padding-inline: 1rem;
    margin-inline: auto;
  }
  
  svg,
  img {
    max-width: 100%;
    height: auto;
  }
  
  pre code {
    white-space: pre-wrap;
  }  
}
