@layer reset {

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer config {
  :root {
    --font-family: Inter, "InterRegular", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --background-color: #fff;
    --color: #333;
    --border-color: #ddd;
    --link-color: #1273d1;
    --line-height: 1.222;
    --space-default: calc(var(--line-height) * 1rem);
    --space-smaller: calc(1 * 1rem);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #333;
      --color: #eee;
      --border-color: #444;
      --link-color: #46a4fe;
    }
  }
}

@layer global {
  html {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    font-family: var(--font-family);
    font-size: 100%;
    line-height: var(--line-height);
    background-color: var(--background-color);
    color: var(--color);
    height: 100%;
  }

  @media (min-width: 50rem) {
    html {
      font-size: 112.5%;
    }
  }

  .debug-error {
    font-family: ui-monospace, monospace;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #222;
    padding: 2.5rem;
    white-space: pre-wrap;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0 0 0 / 25%), 0 4px 8px rgba(0 0 0 / 25%);
    border: 1px solid #000;
    text-shadow: 0 1px 2px #000;
  }

  table {
    font-feature-settings: "tnum";
    margin-inline: -.5rem;
  }

  th {
    text-align: left;
  }

  th,
  td {
    padding: .5rem .25rem;
  }

  body,
  .container {
    margin: auto;
    max-width: 50rem;
    padding: 1rem;
  }

  a {
    color: var(--link-color);
  }

  a:link,
  a:active {
    font-weight: bold;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-color: currentColor;
  }

  h1 {
    line-height: 1.125;
  }

  h1,
  h2,
  ul,
  p {
    margin-block-end: var(--space-smaller);
  }

  body>header,
  body>footer {
    text-align: center;
  }

  body>header,
  body>main {
    border-block-end: 1px solid var(--border-color);
    padding-block-start: 2rem;
    padding-block-end: 2rem;
  }

  body>footer {
    padding-block-start: 1rem;
  }

  header>pre {
    font-size: 2rem;
    line-height: 1;
    overflow-x: auto;
    margin-block-end: 1.5rem;
    text-align: left;
    max-width: max-content;
    margin-inline: auto;
  }

  .version {
    margin-block-end: 1rem;
  }

  footer>nav>ul {
    list-style: none;
  }

  footer>nav>ul>li {
    display: inline-block;
    margin-inline-end: 1rem;
  }
}