{% extends 'layouts/base.njk' %}

{% block body %}
<main>
    {% include "header.njk" %}
    <div class="container">
        {{ content | safe }}
    </div>
</main>
<aside>
    <details>
        <summary>Getting Started</summary>
        <ol>
            <li><a href="/docs/getting-started/">Getting Started</a></li>
            <li><a href="/docs/config/">Configuration</a></li>
            <li><a href="/docs/plugins/">Plugins</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ol>
    </details>
    <details>
        <summary>Configuration</summary>
        <ol>
            <li><a href="/docs/config/">Configuration</a></li>
            <li><a href="/docs/plugins/">Plugins</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ol>
    </details>
    <details>
        <summary>Configuration</summary>
        <ol>
            <li><a href="/docs/config/">Configuration</a></li>
            <li><a href="/docs/plugins/">Plugins</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ol>
    </details>
    <details>
        <summary>Plugins</summary>
        <ol>
            <li><a href="#">eta</a></li>
            <li><a href="#">JSX</a></li>
            <li><a href="#">Nunjucks</a></li>
        </ol>
    </details>
    <details>
        <summary>Middleware</summary>
        <ol>
            <li><a href="#">Logger</a></li>
            <li><a href="#">Cookies</a></li>
        </ol>
    </details>
</aside>
{% include "footer.njk" %}
{% endblock %}