{{ layout "document.html.vto" }}
<h1>{{ title }}</h1>
<section>
  {{ include "../components/color/component.html.vto" }}
</section>
<section>
  {{ include "../components/button/component.html.vto" }}
</section>
{{ /layout }}
