{{ layout "document.html.vto" }}
<h1>{{ title }}</h1>
{{ for component of ["color", "button"] }}
<section>
  {{ include "../components/"+component+"/component.html.vto" }}
</section>
{{ /for }}
{{ /layout }}
