{{ layout "layouts/page.vto" }}
<a href="./new/">Create New Document</a>
{{ if data?.documents }}
<ul>
{{ for document of data.documents }}
  <li>
    {{ if !document.id }}
    {{ document.title }}
    {{ else }}
    <a href="/document/{{ document.id }}/edit/">{{ document.title }}</a>
    {{ /if }}
  </li>
{{ /for }}
</ul>
{{ /if }}
{{ /layout }}
