---
title: Development Area
---

{{ layout "layouts/page.vto" }}
  <p>With <code>@stewpot/manage</code> you can manage anything!</p>
  <ul>
    <li><a href="/sessions/">Sessions</a></li>
  </ul>
  {{ if data }}
  <h2>Data</h2>
  <ul>
  {{ for { key, value, versionstamp } of data }}
    <li>
    {{ key }}
    {{ value }}
    {{ versionstamp }}
    </li>
  {{ /for }}
  </ul>
  {{ /if }}
{{ /layout }}
