<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/basic.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/code.css">
    <link rel="stylesheet" href="/intro.css">
    <script src="https://unpkg.com/prismjs@1.29.0/prism.js"></script>
</head>
<body>
{{ header }}
<main>
<h1>{{ description }}</h1>

<p>...</p>

<h2>First Steps</h2>

<p>Register a request handler.</p>

<pre class="language-js" tabindex="-1">
<code>import stewpot from 'stewpot/stewpot.js';

export function main() {
  return stewpot({
    handler({ pathname }) {
      if (pathname === "/") {
        return () => new Response("Hello World!");
      }
    },
  });  
}

if (import.meta.main) {
  main();
}</code>
</pre>

<h2>Next Steps</h2>

<p>Render the index template.</p>

<pre class="language-js" tabindex="-1">
<code>import stewpot from "stewpot/stewpot.js";

export function main() {
  return stewpot({
    handler({ pathname, render }) {
      if (pathname === "/") {
        return async () => new Response(await render('index'), { headers: { 'content-type': 'text/html' } });
      }
    },
  });
}

if (import.meta.main) {
  main();
}</code>
</pre>

<h2>Further Steps</h2>
<p>Take a look at the <a href="https://github.com/carlrafting/stewpot/tree/main/examples">examples on GitHub for getting started</a>. Make sure to <a href="https://github.com/carlrafting/stewpot/blob/main/src/server/default_handler.js">check out the default request handler</a>, which is responsible for rendering this very page.</p>
</main>

{{ footer }}

<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const codeblocks = document.querySelectorAll("pre[class*=\"language-\"]");
    for (const block of codeblocks) {
      block.classList.add("codeblock");
    }
  })
</script>

</body>
</html>
