html,
body,
pre,
h1,
p {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-color: #fff;
  --color: #333;
  --border-color: #ddd;
}

html {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 1fr;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --color: #eee;
    --border-color: #444;
  }
}

body {
  margin: auto;
  max-width: 45rem;
  padding: 1rem;
}

a {
  color: dodgerblue;
}

a:link,
a:active {
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.15);
}

h1 {
  line-height: 1.125;
  margin-bottom: .5rem;
}

p {
  margin-bottom: 1rem;
}

pre {
  font-size: 1.125rem;
  font-family: Cascadia Code, monospace;
  word-break: break-all;
  background-color: rgba(0, 0, 0, .1);
  padding: 2rem;
  border-radius: .25rem;
  white-space: pre-wrap;
}

pre > .comment {
  color: green;
}

header > pre {
  font-size: 2rem;
  line-height: 1;
  overflow-x: auto;
  margin-bottom: 2.5rem;
  text-align: left;
}

header > h1 {
  margin-bottom: 1rem;
}

body > header,
body > main {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2rem;
  margin-bottom: 2.5rem;
}

body > header,
body > footer {
  text-align: center;
}

footer > nav > ul {
  list-style: none;
}

footer > nav > ul > li {
  display: inline-block;
  margin-right: 1rem;
}
