name: Deno Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Build static site
        run: deno task --cwd=legacy build

      - name: Deploy to Deno Deploy
        # You may pin to the exact commit or the version.
        uses: denoland/deployctl@v1
        with:
          project: stewpot
          entrypoint: www/server.js
          root: ./legacy
