name: Publish

on:
  workflow_dispatch:
  merge_group:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true
      - run: echo "Deno version is " deno -v
      - name: Publish to JSR
        uses: actions/checkout@v6
      - run: deno publish
